@import 'variables';
@import 'common';

.chat-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-card {
    height: 600px;
    width: 800px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    .chat-menu {
        width: 30%;
        height: 100%;
        border-top-left-radius: $materia-border-radius;
        border-bottom-left-radius: $materia-border-radius;
        background-color: $primary-dark;
        padding: 0px;
        .chat-menu-header{
            height: 15%;
            .chat-menu-search-holder {
                padding-top: 16px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 0px;
            }
        }
        .chat-menu-body {
            height: 70%;
        }
        .chat-menu-footer {
            height: 15%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            .add-botton-holder {
                padding-left: 16px;
            }
        }
    }
    .chat-chat {
        width: 70%;
        height: 100%;
        border-top-right-radius: $materia-border-radius;
        border-bottom-right-radius: $materia-border-radius;
        background-color: $background-base;
        .chat-chat-header {
            height: 15%;
            
            
            margin: 16px;
            padding-left: 16px;
            .chat-header-card {
                display: flex;
                align-items: center;
                background-color: $background-light;
                span {
                    margin: 0px;
                }
            }
            
        }
    }
}