@import 'variables';
@import 'common';

.chat-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-card {
    height: 600px;
    width: 800px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    .chat-header {
        height: 10%;
        width: 100%;
        background-color: $primary-base;
        border-top-right-radius: $materia-border-radius;
        border-top-left-radius: $materia-border-radius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        mat-icon {
            margin-right: 16px;
        }
        .chat-header-left-side {
            margin-left: 16px;
        }
    }
    .chat-body {
        height: 90%;
        width: 100%;
        .chat-body-sidebar {
            width: 30%;
            height: 100%;
            overflow-y: overlay;
            overflow-x: hidden;
        }
    }
}