<div class="chat-wrapper">
    <mat-card class="chat-card">
        <mat-card class="chat-menu">
            <div class="chat-menu-header">
                <div class="chat-menu-search-holder">
                    <mat-form-field>
                        <input matInput placeholder="Search">
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="chat-menu-body">
                <app-profiles-list></app-profiles-list>
            </div>
            <div class="chat-menu-footer">
                <div class="add-botton-holder">
                    <mat-icon matSuffix class="icon-medium">add_circle_outline</mat-icon>
                </div>
            </div>
        </mat-card>
        <div class="chat-chat">
            <div class="chat-chat-header">
                <mat-card class="chat-header-card">
                    <span class="mat-headline">Daryl Duckmanton</span>
                </mat-card>
            </div>
            <div class="chat-chat-body">

            </div>
            <div class="chat-chat-footer">

            </div>
        </div>
    </mat-card>
</div>