<div class="auth-wrapper">
    <mat-card class="auth-form">
        <div class="auth-form-footer">
            <button mat-button (click)="googleOAuthClick()">
                <img class="auth-img" src="assets/googleLogo.png">
            </button>
            <div matTooltip="Temporary unavailable">
                <button disabled mat-button >
                    <img class="auth-img auth-img-disabled" src="assets/telegramLogo.png">
                </button>
            </div>
            
        </div>
    </mat-card>
</div>