@import "variables";

.profiles-list-wrapper {
    width: 100%;
    height: 100%;
    .profile-item {
        margin: 8px;
        background-color: $background-light;
        display: flex;
        align-items: center;
        cursor: pointer;
        .profile-item-image {
            width: 32px;
            height: 32px;
            margin-right: 16px;
            background-color: white;
            border-radius: 16px;
        }
    }
}
